body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(115deg, #94A4A2 20%, #1A4A61 80%);
}

.info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Change justify-content to center */
  background: wheat;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.info__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.info__icon svg {
  display: block;
  margin: auto; /* Center the SVG icon */
}

.info__icon path {
  fill: red;
}

.info__title {
  font-weight: 600;
  font-size: 18px;
  color: black;
  text-align: center; /* Align the text in the center */
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: wheat;
}